body {
    justify-content: center;
    margin: 5%;
    display: flex;
    margin-left: -25%;
    padding-left: 0;
}

.counter-display {
    background-color: black;
    color: white;
    display: flex;
    font-size: 100px;
    width: 150%;
    justify-content: center;
    border-radius: 20px;
    padding-left: 5%;
    height: 150px;
    
    

    
    
}

.counter-display div{
    background-color: rgb(29, 29, 29);
    color: white;
    display: flex;
    font-size: 100px;
    width: 150%;
    justify-content: center;
    border-radius: 10px;
    padding-left: 10%;
    text-align: center;
    padding: 0;
    
    

    
    
}
.number {
    margin-inline: 20px;
    width: 16%;
    padding: 0;
    background: repeating-linear-gradient(
    45deg,
    #131313,
    #131313 10px,
    #101010 10px,
    #101010 20px
  );
  font-family:'digital-clock-font'    
}


.clock-img {
    
    padding-top: 25px !important; 
    margin-right: 45px;

    padding: 0;
    background: repeating-linear-gradient(
    45deg,
    #131313,
    #131313 10px,
    #101010 10px,
    #101010 20px
  );
    padding-inline: 10px !important;
    margin-inline-end: 20px;
    
}

/* 


    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
